<!-- Hero Banner container -->
<div class="container">
    <div class="row">
        <!-- Left column container -->
        <div class="column">
            <h1 class="title">Nexus</h1>
            <h5 class="heading">PC Builder</h5>
            <p class="subheading">The Center of Your Gaming Universe...</p>
            <button mat-stroked-button class="btn-banner" (click)="onBuildNowClick()">Build Now</button>
        </div>
        <!-- Right column container -->
        <!-- <div class="column">2

        </div> -->
    </div>
    <app-info-section></app-info-section>
</div>
