<mat-card *ngIf="customer">
    <mat-card-header>
      <mat-card-title>"{{customer.id}}"</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><b>First Name:</b> {{customer.firstName}}</p>
      <p><b>Last Name:</b> {{customer.lastName}}</p>
      <p><b>Email:</b> {{customer.email}}</p>
      <p><b>Phone Number:</b> {{customer.phone}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openEditDialog()">Edit</button>
      <button mat-button (click)="deleteCustomer()">Delete</button>
    </mat-card-actions>
  </mat-card>